# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Python cache
*.log
*.pot
*.pyc

# System-specific
Thumbs.db
ehthumbs.db
desktop.ini

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# Virtualenvs in project folder
.venv/

# JupyterLab workspace
.lab/

# Others
*.sqlite3
*.db
*.bak
